[bgpm]
bridge_config: /software/common/etc/bridge.config
db2_connect: /software/common/bin/db2connect
db2_instance: db2instance
db2_properties: /bgl/BlueLight/ppcfloor/bglsys/bin/db.properties
mmcs_server_ip: 172.30.1.100
mpirun: /bgl/BlueLight/ppcfloor/bglsys/bin/mpirun

[cqm]
bgkernel: false
log_dir: /var/log/cobalt

[bgsched]
db2uid: bglsysdb
db2dsn: bgdb0
db2pwd: acb123

[bgsched-queue]
default: default
short: short

[anl-sched]
scheduler_file: /etc/scheduler-file
