/wrapper
/brun
/cobalt-admin
/cobalt-launcher
/cobalt-mpirun
/cqadm
/cqdel
/cqhist
/cqstat
/cqsub
/cqwait
/partadm
/partlist
/perfdata
/releaseres
/schedctl
/setres
/slpstat
/showres
/userres
/Mslpstat
