#!/usr/bin/make -f 
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
client_wrapper_dir = /usr/libexec/cobalt
python_wrapper_dir = $(client_wrapper_dir)/bin
python_site_packages = /usr/local/lib/python2.7/site-packages
debian_base = debian/tmp
configure: configure-stamp

configure-stamp:
	dh_testdir
	# Add here commands to configure the package.
	touch configure-stamp

build: build-stamp

build-stamp: configure-stamp  
	dh_testdir
	# Add here commands to compile the package.
	#$(MAKE)
	#docbook-to-man debian/testpack.sgml > testpack.1
	python setup.py build
	# Install wrapper.c
	make -C src/clients PROGPREFIX=$(client_wrapper_dir)
	touch $@

clean: 
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	# Add here commands to clean up after the build process.
	#$(MAKE) clean
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs
	# Add here commands to install the package into debian/testpack.
	#$(MAKE) DESTDIR=$(CURDIR)/debian/testpack install
	# Build architecture-independent files here.
	mkdir -p debian/tmp/usr/sbin
	mkdir -p debian/tmp/usr/bin
	mkdir -p debian/tmp/$(python_wrapper_dir)
	mkdir -p debian/tmp/$(python_site_packages)
	python setup.py install --prefix=debian/tmp/$(client_wrapper_dir)  --install-lib debian/tmp/$(python_site_packages)
	mv $(debian_base)$(python_wrapper_dir)/slp.py $(debian_base)/usr/sbin
	mv $(debian_base)$(python_wrapper_dir)/bgsched.py $(debian_base)/usr/sbin
	mv $(debian_base)$(python_wrapper_dir)/user_script_forker.py $(debian_base)/usr/sbin
	mv $(debian_base)$(python_wrapper_dir)/system_script_forker.py $(debian_base)/usr/sbin
	mv $(debian_base)$(python_wrapper_dir)/gravina.py $(debian_base)/usr/sbin
	mv $(debian_base)$(python_wrapper_dir)/cqm.py $(debian_base)/usr/sbin
	mv $(debian_base)$(python_wrapper_dir)/brooklyn.py $(debian_base)/usr/sbin
	mv $(debian_base)$(python_wrapper_dir)/partadm.py $(debian_base)/usr/sbin
	mv $(debian_base)$(python_wrapper_dir)/setres.py $(debian_base)/usr/sbin
	mv $(debian_base)$(python_wrapper_dir)/releaseres.py $(debian_base)/usr/sbin
	mv $(debian_base)$(python_wrapper_dir)/cqadm.py $(debian_base)/usr/sbin
	mv $(debian_base)$(python_wrapper_dir)/schedctl.py $(debian_base)/usr/sbin
	mv $(debian_base)$(python_wrapper_dir)/cluster_system.py $(debian_base)/usr/sbin
	mv $(debian_base)$(python_wrapper_dir)/cluster_simulator.py $(debian_base)/usr/sbin
	mv $(debian_base)$(python_wrapper_dir)/nodeadm.py $(debian_base)/usr/sbin
	mv $(debian_base)$(python_wrapper_dir)/prologue_helper.py $(debian_base)/usr/sbin
	mv $(debian_base)$(python_wrapper_dir)/cdbwriter.py $(debian_base)/usr/sbin
	mv $(debian_base)$(python_wrapper_dir)/perfdata.py $(debian_base)/usr/sbin
	mv $(debian_base)$(python_wrapper_dir)/bb.py $(debian_base)/usr/sbin
	mv $(debian_base)$(python_wrapper_dir)/bbsim.py $(debian_base)/usr/sbin
	mv $(debian_base)$(python_wrapper_dir)/hammer.py $(debian_base)/usr/sbin
	mv $(debian_base)$(python_wrapper_dir)/radm.py $(debian_base)/usr/sbin
	mv $(debian_base)$(python_wrapper_dir)/cweb.py $(debian_base)/usr/sbin
	rm -f $(debian_base)$(python_wrapper_dir)/*test*
	rm -f $(debian_base)$(python_wrapper_dir)/brun.py
	rm -f $(debian_base)$(python_wrapper_dir)/bstat.py
	rm -f $(debian_base)$(python_wrapper_dir)/pmrun.py
	rm -f $(debian_base)$(python_wrapper_dir)/cdump.py
	mkdir -p $(debian_base)/etc/
	install -m 644 misc/cobalt.bb.conf $(debian_base)/etc/cobalt.conf
	mkdir -p $(debian_base)/var/log/cobalt/
	mkdir -p $(debian_base)/var/spool/cobalt/
	touch $(debian_base)/etc/cobalt.utility
	install -m 755 src/clients/wrapper $(debian_base)/usr/bin
	for file in `find debian/tmp/usr/bin -name \*.py | sed -e 's/\.py//' |grep -v fake | grep -v cobalt-launcher` ; do echo $${file} ; ln -sf wrapper $${file} ;done 

binary-indep: build install
	# We have nothing to do by default.
	# Build architecture-dependent files here.

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
	dh_install
	#       dh_installmenu
	#       dh_installdebconf       
	#       dh_installlogrotate
	#       dh_installemacsen
	#       dh_installpam
	#       dh_installmime
	#       dh_python
	dh_installinit
	#       dh_installcron
	#       dh_installinfo
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	#       dh_perl
	#       dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
