#!/usr/bin/make -f 
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

configure: configure-stamp

configure-stamp:
	dh_testdir
	# Add here commands to configure the package.
	touch configure-stamp

build: build-stamp

build-stamp: configure-stamp  
	dh_testdir
	# Add here commands to compile the package.
	#$(MAKE)
	#docbook-to-man debian/testpack.sgml > testpack.1
	touch $@

clean: 
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	# Add here commands to clean up after the build process.
	#$(MAKE) clean
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs
	# Add here commands to install the package into debian/testpack.
	#$(MAKE) DESTDIR=$(CURDIR)/debian/testpack install
	# Build architecture-independent files here.
	python setup.py install --prefix=debian/tmp/usr
	mkdir -p debian/tmp/usr/sbin
	mv debian/tmp/usr/bin/* debian/tmp/usr/sbin/
	mkdir -p debian/tmp/etc/
	install -m 644 misc/cobalt.bb.conf debian/tmp/etc/cobalt.conf
	mkdir -p debian/tmp/var/log/cobalt/
	mkdir -p debian/tmp/var/spool/cobalt/
	touch debian/tmp/etc/cobalt.utility
	# Install wrapper.c
	make -C src/clients
	install -m 755 src/clients/wrapper debian/tmp/usr/sbin
	for file in `find . -name \*.py | sed -e 's/\.py//' |grep -v fake` ; do ln -sf debian/tmp/usr/sbin/wrapper $file ; done

binary-indep: build install
	# We have nothing to do by default.
	# Build architecture-dependent files here.

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
	#       dh_install
	#       dh_installmenu
	#       dh_installdebconf       
	#       dh_installlogrotate
	#       dh_installemacsen
	#       dh_installpam
	#       dh_installmime
	#       dh_python
	dh_installinit
	#       dh_installcron
	#       dh_installinfo
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	#       dh_perl
	#       dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
